$maincolor: #919ea7;
$linkhovercolor: #e5aabc;
$contentcontainercolor: #edeff1;
$subnavcolor: #506473;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#fff;
  margin:0px;
  min-height:100%;
  color:$maincolor;
}

html{
  margin:0px;
  min-height:100%;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* HEADER */

.header{
  height: 100%;
  display: flex;
}

.container{
  height:100%;
  display: flex;
  flex-flow: column;
  .container-left{
    width:50%;
    margin:auto;
    .logo{
      width:170px;
      margin-top:25px;
      margin-left:125px;
      &:hover{
        opacity: 0.5;
        transition:2s;
      }
    }
  }
  .container-right{
    flex: 1 1 auto;
    width:50%;  
    background-image: url('../public/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display:block;
    &:hover{
      background-image: url('../public/background.jpg');
      opacity: 0.5;
      transition:2s;

    }
  }
  .header-text{
    width:50%;
    margin-left:20%;
    margin-top:140px;
    p{
      color: $maincolor;
      font-size:15px;
    }
    h1{
      font-size:37px;
      color:#000;
      margin:0;
      margin-top:45px;
      padding:0;
      font-weight: normal;
    }
    h2{
      font-size:37px;
      color:$maincolor;
      margin:0;
      margin-bottom:45px;
      padding:0;
      font-weight: normal;
    }
    h3{
      color: $linkhovercolor;
      font-size:12px;
      font-weight: bold;
    }
  }
  .navbar {
    text-align: center;
    margin-top:50px;
    overflow: hidden;
    .selected{
      color:#fff;
      text-decoration: underline;
      font-weight: bold;
    }
    a {
      color: #fff;
      padding: 14px 16px;
      font-size: 15px;
      text-decoration: none;
      font-weight:bold;
    }
    a:hover {
      text-decoration-line: underline;
      font-size:20px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
    }
    a:active {
      text-decoration-line: underline;
    }
  }
  .letstalk{
    margin-top:45px;
    margin-bottom:45px;
    a{
      transition: color 0.5s, transform 0.5s;
      text-decoration-color: $linkhovercolor;
      font-size:15px;
      color:#000;
      font-weight: bold;
      text-decoration-thickness: 4px;
    }
    a:hover{
      color:$linkhovercolor;
      text-decoration-color: #000;
      transform:scale(1.1);
    }
  }
  .main {
    margin-top: 30px;
  }
}

/* CONTENT CSS */

.content-container{
  background:$contentcontainercolor;
  width:100%;
  height:100%;
  padding-top:130px;
  padding-bottom:115px;
  display: flex;
  .text-holder{
    width:80%;
    margin: auto;
  }
}
.content-container-left{
  width:50%;
  float:left;
  display: block;
}
.content-container-right{
  width:50%;
  float:right;
  display: block;
  .list-left{
    float:left;
    width:50%;
    .brand{
      button{
        background:$subnavcolor;
        border-radius: 50%;
        border:0;
        color:#fff;
      }
    }
  }
  .list-right{
    float: right;
    width:50%;
  }
  ul{
    list-style-type: none;
    padding:0;
    li{
      padding-bottom:30px;
      a{
        color:$maincolor;
        font-weight:bold;
        text-decoration: none;
        transition: color 0.5s, transform 0.5s;
      }
      a:hover{
        color:$linkhovercolor;
        text-decoration-color: #000;
      }
    }
  }
  h1{
    font-size:15px;
    color:$subnavcolor;
  }
}
.content-text{
  width:50%;
  h1{
    font-size:37px;
    color:#000;
    margin:0;
    padding:0;
    font-weight: normal;
  }
  h2{
    font-size:37px;
    color:$maincolor;
    margin:0;
    margin-bottom:45px;
    padding:0;
    font-weight: normal;
  }
  h3{
    color: $linkhovercolor;
    font-size:12px;
    font-weight: bold;
  }
  .letstalk{
    margin-top:45px;
    margin-bottom:45px;
    a{
      transition: color 0.5s, transform 0.5s;
      text-decoration-color: $linkhovercolor;
      font-size:15px;
      color:#000;
      font-weight: bold;
      text-decoration-thickness: 4px;
    }
    a:hover{
      color:$linkhovercolor;
      text-decoration-color: #000;
      transform:scale(1.1);
    }
  }
}
.content-text p{
  color: $maincolor;
  font-size:15px;
}

/* WORK CSS */

.work-container{
  width:100%;
  padding-top:80px;
  padding-bottom:80px;
  .work-text-wrap{
    width:80%;
    margin:auto;
    .work-header{
      h1{
        font-size:37px;
        color:#000;
        margin:0;
        padding:0;
        font-weight: normal;
      }
      h2{
        font-size:37px;
        color:$maincolor;
        margin:0;
        margin-bottom:45px;
        padding:0;
        font-weight: normal;
      }
    }
    .work-nav{
      ul{
        list-style-type: none;
        padding:0;
        .selected{
          font-weight: bold;
          color: $linkhovercolor;
        }
        li{
          display:inline;
          padding:10px 60px;
          text-align: center;
          border-bottom: 2px solid $subnavcolor;
          transition: color 0.5s, transform 0.5s;
          a{
            color:$maincolor;
            text-decoration: none;
            transition: color 0.5s, transform 0.5s;
          }
          a:hover{
            color:$linkhovercolor;
            text-decoration-color: #000;
            font-weight: bold;
          }
          &:hover{
            border-bottom: 3px solid $linkhovercolor;
            font-weight: bold;
          }
        }
      }
    }
    .work-cards{
      display: inline-flex;
      color: #fff;
      .work-cards-holder{
        padding: 1.5em;
        .world-cards-holder-link{
          color:#fff;
        }
        .work-card-1{
          background-image: url('../public/cards/card1.jpg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          padding: 30px 30px;
          float:left;
          border-radius:2em;
          width:400px;
          height:300px;
          margin:auto;
          &:hover{
            background-image: linear-gradient(45deg, rgba(0,0,0,1), rgba(255,255,255,0.30015756302521013) 100%), url('../public/cards/card1.jpg');
            h1, p, a{
              display: block;
            }
          }
          h1{
            font-size:20px;
            display: none;
          }
          p{
            font-size:14px;
            display:none;
          }
          a{
            color:#fff;
            font-weight:bold;
            text-decoration: none;
            transition: color 0.5s, transform 0.5s;
            display:none;
          }
          a:hover{
            color:$linkhovercolor;
            text-decoration-color: #000;
          }
        }
        .work-card-2{
          background-image: url('../public/cards/card2.jpg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          padding: 30px 30px;
          float:left;
          border-radius:2em;
          width:400px;
          height:300px;
          margin:auto;
          &:hover{
            background-image: linear-gradient(45deg, rgba(0,0,0,1), rgba(255,255,255,0.30015756302521013) 100%), url('../public/cards/card2.jpg');
            h1, p, a{
              display: block;
            }
          }
          h1{
            font-size:20px;
            display: none;
          }
          p{
            font-size:14px;
            display:none;
          }
          a{
            color:#fff;
            font-weight:bold;
            text-decoration: none;
            transition: color 0.5s, transform 0.5s;
            display:none;
          }
          a:hover{
            color:$linkhovercolor;
            text-decoration-color: #000;
          }
        }
        .work-card-3{
          background-image: url('../public/cards/card3.jpg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          padding: 30px 30px;
          float:left;
          border-radius:2em;
          width:400px;
          height:300px;
          margin:auto;
          &:hover{
            background-image: linear-gradient(45deg, rgba(0,0,0,1), rgba(255,255,255,0.30015756302521013) 100%), url('../public/cards/card3.jpg');
            h1, p, a{
              display: block;
            }
          }
          h1{
            font-size:20px;
            display: none;
          }
          p{
            font-size:14px;
            display:none;
          }
          a{
            color:#fff;
            font-weight:bold;
            display:none;
            text-decoration: none;
            transition: color 0.5s, transform 0.5s;
          }
          a:hover{
            color:$linkhovercolor;
            text-decoration-color: #000;
          }
        }
      }
    }
  }
}

/* PROJECTS CSS */

.projects-container{
  width:100%;
  padding-top:80px;
  padding-bottom:80px;
  .projects-textwrap{
    width:80%;
    margin:auto;
    .project-header{
      text-align:center;
      h1{
        font-size:37px;
        color:#000;
        margin:0;
        padding:0;
        font-weight: normal;
      }
      p{
        font-size:15px;
        color:$maincolor;
        margin:0;
        margin-bottom:45px;
        padding:0;
        font-weight: normal;
      }
    }
  }
} 

/* CAROUSEL CSS */

.carousel{
  position: relative;
  height:600px;
  width:80%;
  margin: 0 auto;
  .carousel__track-container{
    height:100%;
    position: relative;
    overflow: hidden;
    .carousel__track{
      padding:0;
      margin:0;
      list-style: none;
      position: relative;
      height: 100%;
      transition: transform 250ms ease-in;
      .carousel__slide{
        position: absolute;
        top:0;
        bottom:0;
        width:100%;
        .carousel__image{
          width:100%;
          height:100%;
          object-fit: cover;
        }
      }
    }
  }
  .carousel__button--left{
    left:-40px;
  }
  .carousel__button--right{
    right:-40px;
  }
  .carousel__button{
    cursor: pointer;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    background: transparent;
    border:0;
    img{
      width: 20px;
    }
  }
  .carousel__nav{
    display: flex;
    justify-content: center;
    padding:10px 0;
    .carousel__indicator{
      border:0;
      border-radius: 50%;
      width:20px;
      height:20px;
      background: rgba(0,0,0,.3);
      margin:0 12px;
    }
    .carousel__indicator.current-slide{
      background: rgba(0,0,0,.75);
      width:30px;
      height:30px;
    }
  }
  .is-hidden{
    display: none;
  }
}

// Footer Content // 

.footer-container{
  background:$contentcontainercolor;
  width:100%;
  height:100%;
  padding-top:130px;
  padding-bottom:115px;
  display: flex;
  .text-holder{
    width: 80%;
    margin:auto;
  }
}
.footer-container-left{
  width:50%;
  float:left;
  display: block;
}
.footer-container-right{
  width:50%;
  float:right;
  display: block;
  .list-left{
    float:left;
    width:30%;
  }
  .list-center{
    float:left;
    width:30%;
  }
  .list-right{
    float:right;
    width:30%;
    .ptag-header{
      color: $maincolor;
      font-weight: bold;
      text-decoration: none;
      transition: color 0.5s, transform 0.5s; 
      margin-bottom:0; 
    }
    .ptag-sub{
      color: $maincolor;
      font-size: 15px;
      margin:0;
      a{
        color:$maincolor;
        text-decoration: none;
        transition: color 0.5s, transform 0.5s;
      }
      a:hover{
        color:$linkhovercolor;
        text-decoration-color: #000;
        transform:scale(1.1);
      }
    }
  }
  ul{
    list-style-type: none;
    padding:0;
    li{
      padding-bottom:30px;
      a{
        color:$maincolor;
        font-weight:bold;
        text-decoration: none;
        transition: color 0.5s, transform 0.5s;
      }
      a:hover{
        color:$linkhovercolor;
        text-decoration-color: #000;
        transform:scale(1.1);
      }


    }
  }
  h1{
    font-size:15px;
    color:$subnavcolor;
  }
}
.footer-text{
  width:50%;
  h1{
    font-size:37px;
    color:#000;
    margin:0;
    padding:0;
    font-weight: normal;
  }
  h2{
    font-size:37px;
    color:#506473;
    margin:0;
    margin-bottom:45px;
    padding:0;
    font-weight: normal;
  }
  h3{
    color: #d57995;
    font-size:12px;
    font-weight: bold;
  }
  .letstalk{
    margin-top:45px;
    margin-bottom:45px;
    a{
      transition: color 0.5s, transform 0.5s;
      text-decoration-color: #e5aabc;
      font-size:15px;
      color:#000;
      font-weight: bold;
      text-decoration-thickness: 4px;
    }
    a:hover{
      color:#e5aabc;
      text-decoration-color: #000;
      transform:scale(1.1);
    }
  }
}